body {
  font-family: 'Montserrat', sans-serif;
  background-color: cadetblue
}

* {
  box-sizing: border-box;
}

.containerreg{
  padding: 16px;
  background-color: #fff;
  width:50%;
  border-radius: 10px;
}

/* Full-width input fields */
input[type=text], input[type=email], textarea {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  justify-content: center;
  align-content: center;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

@media(width: 767px){

.containerreg{
  padding: 16px;
  background-color: #fff;
  width:70%;
}
}