* {
    box-sizing: border-box;
  }
  img{
      height:105px;
      width:190px;
      cursor: pointer;  
      /* animation-name: blurimg; */
      animation-duration: 6s;
  }
  @keyframes blurimg {
    from {filter: blur(5px) grayscale(100%);}
    to {filter: none;}
  }
  .flex-container{
  display: flex;
  align-self: center;
  }
  body {
    font-family: 'Montserrat', sans-serif;
  border: 2px;
  /* border-style: solid; */
  /* border-color:rgb(9,3,244); */
  border-radius: 5px;
  max-height: 640px;
  vertical-align: middle;
}
  .row {
    margin-left: 0.3em;
    display: flex; 
    flex-wrap: nowrap;
    padding: 0px;
    }
  .mid{
      background-color: white;
      /*background-image: url("logo.png");*/
      height:200px;
      width:100%;
      animation-name: enlargewayfarersimg;
      animation-duration: 4s; 
  }
  /*.mid:hover{
    animation-name: focus;
    animation-duration: 4s;
  }*/
  @keyframes enlargewayfarersimg {
    from {filter: blur(5px) grayscale(100%); height:20px }
    to {filter: none; height: 200px;}
  }
  /* /* @keyframes focus{ */
    /* from{}  */
    /* to{background-image: url("p7.jpg")}*/ 
  /* } */
  .column {
    -ms-flex: 20%; 
    flex: 20%;
    padding: 0px;
  }
  
  .column img {
    margin-top: 1px;
    vertical-align: middle;
  }
  